<?xml version="1.0"?>
<!-- Current image_pipeline and cv_bridge is not stable with opencv 3.0, image_proc not working for me
and tried of rolling back to opencv2.4, so test if it works for opencv 2.4 -->
<launch>
  <arg name="zed_serial" default="1267" />
  <arg name="camera_namespace" default="camera"/>

  <include file="$(find zed_cpu_ros)/launch/zed_cpu_ros.launch">
    <arg name="zed_serial" value="$(arg zed_serial)" />
    <arg name="camera_namespace" value="$(arg camera_namespace)"/>
  </include>

  <group ns="$(arg camera_namespace)">
    <node pkg="nodelet" type="nodelet" name="depth_nodelet_manager"  args="manager"/>
    <!-- <node pkg="nodelet" type="nodelet" name="depth" args="load rtabmap_ros/disparity_to_depth depth_nodelet_manager"/> -->
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" respawn="true" output="screen">
      <param name="min_disparity" value="1"/>
      <param name="correlation_window_size" value="20"/>
    </node>
  </group>
</launch>
